/*
|--------------------------------------------------------------------------
| Custom CSS script
|--------------------------------------------------------------------------
*/

.page-title {
    margin-top: 32px;
}

.title-action {
    padding-top: 28px;
}

.gray-bg,
.navbar-static-top {
    background-color: #ECF0F1;
}

.ibox-content {
    transition: box-shadow .25s !important;
    box-shadow: 0 3px 4px rgba(119,151,178,0.16), 0 3px 4px rgba(119,151,178,0.23);
}

.ibox-content:hover {
    transition: box-shadow .25s !important;
    box-shadow: 0 8px 17px 0 rgba(119,151,178,0.2),0 6px 20px 0 rgba(119,151,178,0.19) !important;
}

.ibox.collapsed {
    box-shadow: 0 3px 4px rgba(119,151,178,0.16), 0 3px 4px rgba(119,151,178,0.23);
    transition: box-shadow .25s !important;
}

.ibox.collapsed:hover {
    transition: box-shadow .25s !important;
    box-shadow: 0 8px 17px 0 rgba(119,151,178,0.2),0 6px 20px 0 rgba(119,151,178,0.19) !important;
}

.ibox.collapsed:hover .ibox-content {
    box-shadow: none !important;
}

.ibox.collapsed .ibox-content {
    box-shadow: none;
}

.add-price {
    margin-bottom: 14px
}

.icon-preview img {
    display: block;
    margin: 30px auto 0 auto;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

#villa-map {
    width: 100%;
    height: 350px;
}

.attributes-list hr {
    margin-bottom: 10px;
}

.lightBoxGallery a {
    display: inline-block;
    position: relative;
}

.image-wrapper .delete-image {
    position: absolute;
    padding: 5px 7px;
    background-color: rgba(255,255,255,0.9);
    top: 5px;
    left: 5px;
    color: #ed5565;
    display: none;
    z-index: 99;
}

.image-wrapper .delete-image:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.95);
}

.image-wrapper:hover .delete-image {
    display: block;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676a6c;
    line-height: 34px;
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #676a6c transparent transparent transparent;
}

/*
|--------------------------------------------------------------------------
| Calendar
|--------------------------------------------------------------------------
*/

.calendar-loader {
    display: none;
    vertical-align: text-top;
    margin-left: 15px !important;
    margin-top: -4px !important;
}
.loader-opacity {
    opacity: 0.3;
    pointer-events: none;
}

#calendar {
    display: none;
    margin-top: 30px;
}

#calendar-arrows {
    background-color: #2f4050;
    color: #FFF;
}

#previous-date,  #next-date,  #calendar-date {
    padding: 15px 0;
}

#calendar-date {
    font-weight: bold;
}

#previous-date:hover,  #next-date:hover {
    background-color: #1ab394;
    cursor: pointer;
}

#calendar-content .row {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #e7eaec;
}

#calendar-days {
    padding-top: 15px;
    background-color: #f5f5f5;
}

#calendar-days .row {
    margin-right: 0;
    margin-left: 0;
    border-bottom: 1px solid #e7eaec;
}

.calendar-days {
    color: #1c84c6;
    font-weight: bold;
    padding-bottom: 14px;
}

.days, .calendar-days {
    width: 14.2857142857% !important;
    text-align: center;
}

.not-booked {
    cursor: pointer;
}
.not-booked:hover {
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.booked, .not-booked, .enable-check-in, .enable-check-out {
    padding: 10px 0;
    text-align: center;
}
.booked {
    background-color: #f8ac59;
    cursor: default;
}

.enable-check-in, .enable-check-out {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.enable-check-in:hover, .enable-check-out:hover {
    background-color: #eee;
}

.enable-check-in:after {
    content: '';
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    background-color: #f8ac59;
}

.enable-check-out:after {
    content: '';
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    background-color: #f8ac59;
}

.affix {
    top: 0;
    width: calc(100% - 250px);
    z-index: 99;
    box-shadow: 0 3px 4px rgba(119,151,178,0.16), 0 3px 4px rgba(119,151,178,0.23);
}

.affix + .affix-padding {
    padding-top: 85px;
}

.mini-navbar .affix {
    width: calc(100% - 85px);
}

@media (max-width: 768px) {
    .affix {
        width: calc(100% - 30px);
    }
}